/* 
    General Styles
*/

.btn-lg {
    padding: 0.4rem 3rem;
    font-size: 1rem;
}

.bg-grey {
    --bs-bg-opacity: 0.85;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

body {
    background-color: rgb(18, 18, 18);
}

